.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    height: 600px;
}
*{
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
}
.header{
    z-index: 1;
    position: fixed;
    top: 0;
    text-align: center;
    height: 40px;
    width: 100%;

}
.row{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}
.left{
    height: 600px;
    position: fixed;
    overflow: hidden;
    /*overflow-y: scroll;*/
    top: 50px;
    background-color: beige;
}
.right{
    height: 600px;
    right: 0;
    position: fixed;
    top: 50px;
    background-color: beige;
}
li{
    list-style: none;
}
.mid{
    padding: 0px 25%;
}
img{
    width: 100%;
}